<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flow.extensionblocker.mapper.FixedExtensionMapper">

    <!-- 고정 확장자 전체 조회 -->
    <select id="selectAll" resultType="FixedExtension">
        SELECT
            id,
            extension,
            blocked
        FROM fixed_extension
        ORDER BY id
    </select>

    <!-- 체크유무 -->
    <update id="updateFixedBlocked">
        UPDATE fixed_extension
        SET blocked = #{blocked}
        WHERE id = #{id}
    </update>

    <!-- 확장자 중복 여부 -->
    <select id="existsFixedByExtension" resultType="int">
        SELECT COUNT(*)
        FROM fixed_extension
        WHERE extension = #{extension}
    </select>

    <!-- 체크된 확장자 조회 -->
    <select id="existsBlockedExtension" resultType="int">
        SELECT COUNT(*)
        FROM fixed_extension
        WHERE extension = #{extension}
          AND blocked = 'Y'
    </select>

</mapper>
